<div class="container">
  <div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
      <h3 class="text-center">
        {{
          this.route.snapshot.paramMap.get('bookName')
            ? 'Update Book'
            : 'Add Book'
        }}
      </h3>

      <div class="card-body">
        <form>
          <div class="form-group mb-3">
            <label> Book Name: </label>
            <input
              placeholder="Book Name"
              type="text"
              [(ngModel)]="this.booksService.newBook.bookName"
              name="Book Name"
              class="form-control"
            />
          </div>
          <div class="form-group mb-3">
            <label> Category </label>
            <input
              placeholder="Category"
              type="text"
              [(ngModel)]="this.booksService.newBook.category"
              name="Category"
              class="form-control"
            />
          </div>

          <div class="form-group mb-3">
            <label> Price: </label>
            <input
              placeholder="Price"
              type="number"
              [(ngModel)]="this.booksService.newBook.price"
              name="price"
              class="form-control"
            />
          </div>

          <div class="form-group mb-3">
            <label> Author: </label>
            <input
              placeholder="Author email"
              [(ngModel)]="this.booksService.newBook.author"
              name="email"
              type="text"
              class="form-control"
            />
          </div>

          <div>
            <app-upload (fileImage)="this.booksService.newBook.icon = $event" />
          </div>

          <button class="btn btn-success me-3" (click)="addUpdateBook()">
            {{
              this.route.snapshot.paramMap.get('bookName') ? 'Update' : 'Add'
            }}
          </button>

          <button class="btn btn-danger" [routerLink]="['/books']">
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
