<div class="ms-4 me-4">
  <button
    class="btn btn-primary"
    [routerLink]="['/products/add-update-product']"
    >
    Add Product
  </button>

  <br />
  <br />

  <div class="row">
    <table class="table table-striped table-bordered" style="min-width: 1000px">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Discount</th>
          <th>Price</th>
        </tr>
      </thead>

      @for (product of products$ | async; track product) {
        <tbody>
          <tr>
            <td>{{ product.productName }}</td>
            <td>{{ product.productDescription }}</td>
            <td>{{ product.discount }}</td>
            <td>{{ product.price }}</td>
            <td>
              <button (click)="updateProduct(product)" class="btn btn-info me-2">
                Update
              </button>
              <button
                (click)="deleteProduct(product.id)"
                class="btn btn-danger me-2"
                >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      }
    </table>
  </div>
</div>
