<div style="text-align:center; margin-top: 20px;">
  <h4>
    CRUD operations with Azure Blob Storage, .NET 6 and Angular 14
  </h4>
</div>

<div class="container d-flex align-items-center justify-content-center">

  <input type="file" #fileUpload id="fileUpload" name="fileUpload" style="display:none;" (click)="fileUpload.value = ''"/>

  <table style="margin-top: 20px;">

    <tr>
      <th class="column1">Uploaded Files</th>
      <th class="column2" style="text-align:center;">Download</th>

      <th class="column3" style="text-align:center;">Delete</th>
    </tr>
    <tr *ngFor="let file of files">
      <td class="column1">{{file}}</td>
      <td class="column2" style="text-align:center;cursor: pointer;" (click)="downloadFile(file)"><i class="fa fa-download"></i></td>

      <td class="column3" style="text-align:center;" (click)="deleteFile(file)">

        <i class="fa-solid fa-trash"></i>

      </td>
    </tr>
  </table>
</div>

<div class="file-loader" *ngIf="showLoader">
  <div class="upload-loader">
    <div class="loader"></div>
  </div>
</div>

<button type="button" class="btn btn-secondary" (click)="onClick()" style="cursor: pointer;">Add file</button>
