<div class="ms-4 me-4">
  @if (users.length) {
  <app-universal-table [data]="users" [columns]="columnsUsers">
    <ng-template appTableTemplate="icon" let-user>
      @if (user.photoUrl) {
      <img
        [src]="'data:' + user.photoType + ';base64,' + user.photoUrl"
        style="height: 50px"
      />
      } @if (!user.photoUrl) {
      <div>no icon</div>
      }
    </ng-template>
    <ng-template appTableTemplate="actions" let-element>
      <button mat-icon-button (click)="updateUser(element)">
        <!--  <button mat-icon-button (click)="editUser(element)"> -->
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser(element.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </ng-template>
  </app-universal-table>
  }

  <!-- <button class="btn btn-primary" (click)="addUser()">Add User</button> -->
  <button class="btn btn-primary" [routerLink]="['/users/add-update-user']">
    Add User
  </button>
</div>
