<h2 mat-dialog-title>
  {{ data.mode === 'update' ? 'Update ' : 'Add ' + data.typeDialog }}
</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" mat-dialog-content>
  <div *ngFor="let field of data.fields">
    <mat-form-field
      appearance="fill"
      class="w-full"
      *ngIf="field.type !== 'file'"
    >
      <mat-label>{{ field.label }}</mat-label>
      <input
        matInput
        [type]="field.type || 'text'"
        [formControlName]="field.name"
        [required]="field.required"
      />
    </mat-form-field>

    <div *ngIf="field.type === 'file'" class="mb-4">
      <app-upload
        (fileImage)="
          form.get(field.name)?.setValue({ file: $event, type: $event?.type })
        "
      />
    </div>
  </div>

  <div fxLayout="row">
    <div
      [ngClass]="{
            'cursor-disabled': form.invalid,
          }"
    >
      <button mat-raised-button [disabled]="form.invalid" (click)="onSubmit()">
        {{ data.mode === 'update' ? 'Update' : 'Add' }}
      </button>
    </div>

    <button mat-raised-button color="warn" (click)="dialogRef.close()">
      Cancel
    </button>
  </div>
</form>
