<mat-toolbar
  color="accent"
  class="navbar"
  [ngStyle]="{ 'background-color': this.themeService.currentGlobalColors }"
>
  <div *ngIf="this.authService.getAccessToken()">
    <button class="toolbar-button" mat-button routerLink="/" aria-label="Home">
      <mat-icon>home</mat-icon>
      Home
    </button>

    <button
      class="toolbar-button"
      mat-button
      [routerLink]="['/users']"
      aria-label="Users"
    >
      Users
    </button>

    <button
      class="toolbar-button"
      mat-button
      [routerLink]="['/books']"
      aria-label="Books"
    >
      Books
    </button>

    <button
      class="toolbar-button"
      mat-button
      [routerLink]="['/products']"
      aria-label="Products"
    >
      Products
    </button>

    <button
      class="toolbar-button"
      mat-button
      [routerLink]="['/signalr-chat']"
      aria-label="Chat"
    >
      Chat
    </button>
  </div>

  <span class="spacer"></span>

  <button
    *ngIf="this.authService.getAccessToken()"
    mat-icon-button
    (click)="this.authService.logout()"
  >
    <mat-icon>{{
      this.authService.getAccessToken() ? 'login' : 'logout'
    }}</mat-icon>
  </button>

  <button mat-icon-button (click)="this.themeService.toggleTheme()">
    <mat-icon>{{
      this.themeService.theme === 'dark-theme' ? 'mode_night' : 'light_mode'
    }}</mat-icon>
  </button>
</mat-toolbar>
