<header>
  <nav
    class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <!-- Brand (optional) -->
      <h2 class="navbar-brand" [routerLink]="['/']">NG & .NET</h2>

      <!-- Toggler -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li
            *ngIf="this.sharedService.postgreToken"
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li
            *ngIf="this.sharedService.postgreToken"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/users']">Users</a>
          </li>

          <li
            *ngIf="this.sharedService.postgreToken"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/books']">Books</a>
          </li>

          <li
            *ngIf="this.sharedService.postgreToken"
            class="nav-item"
            [routerLinkActive]="['link-active']"
          >
            <a class="nav-link text-dark" [routerLink]="['/signalr-chat']"
              >Chat</a
            >
          </li>

          <!-- 
            <li *ngIf="this.sharedService.postgreToken" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/az-blob-storage']"
              >Azure BS</a
            >
          </li>  -->

          <li
            *ngIf="router.url !== '/auth/login'"
            class="nav-item"
            style="cursor: pointer"
          >
            <a class="nav-link text-dark" (click)="loginLogout()">
              {{ sharedService.postgreToken ? 'Logout' : 'Login' }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
